@import url("https://fonts.googleapis.com/css?family=Heebo:900");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" );
html,section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Heebo", sans-serif;
  background: #f4f4f4;
}
#paraaa
{
  margin: 0;
  padding: 0;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.3rem;
  color:white;
  font-family: 'Baloo Bhaijaan', cursive;
}
.desc 
{
  padding: 1rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  opacity: 0;
  transition: 1s 1.5s;
}

/*code sample from here*/
/*
[required code]
parent {
  opacity: 0;
}
parent span {
  //translate effect
  position: relative;
  top: xxx;
  left: xxx;
  //fade effect
  opacity: 0;
}
*/
.ex1 {
  opacity: 0;
  
  
}
.ex1 span {
  position: relative;
  top: 100px;
  left: -100px;
  opacity: 0;
  
}

.ex2 {
  opacity: 0;
  color: black;
}
.ex2 span {
  position: relative;
  left: 200px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}